---
// Este componente es 100% estático, no necesita JS.
---

<div class="card bg-base-100 shadow-xl mb-6 sm:mb-10">
  <div
    class="card-body flex flex-col md:flex-row items-center justify-between p-6 sm:p-8"
  >
    <div class="flex-1 text-center md:text-left mb-4 md:mb-0">
      <h1 class="card-title text-3xl font-bold text-gray-800">
        Reporte de Residentes
      </h1>
      <p class="text-base text-gray-600 mt-2">
        Completa el formulario para registrar un problema de calidad.
      </p>
    </div>
    <img
      src="https://www.opmobility.com/wp-content/uploads/2024/03/logo-opmobility-blue-500.png"
      alt="opmobility Logo"
      class="w-48 object-contain"
    />
  </div>
</div>
